DATABASE_URL="postgresql://neondb_owner:npg_PVi6dvTAxQh0@ep-delicate-mountain-aiofzjy2-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

BETTER_AUTH_SECRET=uYoaXaOW4NWipeQ2Xxq7xnzKoUzYa2af
BETTER_AUTH_URL=http://localhost:8080

PORT=8080
APP_URL=http://localhost:3000